<div class="page-content page-background flex-panel">
    {{#each themes}}
    	{{#compare color '===' ../selected}}
		<div class="theme-panel selected" id={{color}}>
		{{else}}
		<div class="theme-panel" id={{color}}>
		{{/compare}}
			<div class="img-panel">
			
    			<div class="{{color}}"></div>
    		</div>
    		<div class="theme-name">{{name}}</div>
    	</div>
    {{/each}}
</div>
